@using EpistleLibrary.Services

<form id="shelf_form">
    <h5>Pick a shelf to delete</h5>
    <ul>
        @foreach(var bookshelf in BookshelfService.GetBookshelves(@ViewBag.Username))
        {
           <li><a href="@Url.Action("DeleteShelf", "Shelf", new { Title = @bookshelf.Title, Id = @bookshelf.Id })">@bookshelf.Title</a></li>
        }
    </ul>
    <a id="del_cancel" href="@Url.Action("Index", "Home")">Cancel</a>
</form>