@using EpistleLibrary.Services
@using EpistleLibrary.Models

<script>
    function pass_id() {
        document.getElementById('note_to_push').value = '@Model.Id';
    }
</script>

<form id="shelf_form">
    <h5>Which shelf?</h5>
    <ul>
        @foreach(BookshelfModel bookshelf in BookshelfService.GetBookshelves(@ViewBag.Username))
        {
           <li><a href="@Url.Action("AddToShelf", "Note", new { Id = @Model.Id, Content = bookshelf.Title })">@bookshelf.Title</a></li>
        }
    </ul>
    <a id="del_cancel" href="@Url.Action("Index", "Home")">Cancel</a>
</form>