@using EpistleLibrary.Services
@using EpistleLibrary.Models
@model EpistleLibrary.Models.NoteModel

<script>
    function load_text() {
        document.getElementById('textarea').value = '@Model.Content';
        document.getElementById('note_id').value = '@Model.Id';
    }
</script>
<div id="shelf_creation" class="visually-hidden">
    @await Html.PartialAsync("_AddShelf", new BookshelfModel { Title = "" })
</div>
<div id="push_shelf" class="visually-hidden">
    @await Html.PartialAsync("_PushShelf", new NoteModel {Id=@Model.Id})
</div>
<div id="delete_shelf" class="visually-hidden">
    @await Html.PartialAsync("_DelShelf", new NoteModel {Id=@Model.Id})
</div>
<form class="wrapper" id="main_form" asp-action="CreateNote" asp-controller="Note">
    <div id="sidenav">
        <div id="head">
            <h6 id="title">Epistle</h6>
        </div>
        <div id="bookshelves">
            <div id="bookshelf_title">
                <h5 id="bookshelf_header">Bookshelves</h5>
                <a id="new_bookshelf" class="text-decoration-none" onclick="render_shelf()" href="#">+</a>
                <a id="new_bookshelf" class="text-decoration-none" onclick="render_delete()" href="#" >-</a>
            </div>
            <div id="bookshelf_list">
                <!-- every account will have an "all notes" bookshelf -->
                <a id="all_notes" class="text-decoration-none " href="">All Notes</a>
                @foreach(var bookshelf in @BookshelfService.GetBookshelves(@ViewBag.Username))
                {
                    <div id="bookshelf_options">
                        <a id="all_notes" class="text-decoration-none" href="">@bookshelf.Title</a>
                    </div>
                }
            </div>
        </div>
        <div id="badge">
            <h6 id="username">@ViewBag.Username</h6>
            <button asp-action="Logout" asp-controller="Home" id="logout">Logout</button>
        </div>
    </div>
    <div id="notelist">
        <div id="searchbar">
            <h6 class="text-center">All Notes</h6>
            <input type="text" id="search" placeholder="Type to search..." />
        </div>
        <div id="notes">
            <!-- Get all the user's notes-->
            @foreach (var note in NoteService.GetNotes(@ViewBag.Username))
            {
                <div id="note_card" onclick="load_text()" class="d-flex justify-content-between">
                    <a class="text-decoration-none" href=@Url.Action("LoadNote", "Note", new { Id = @note.Id })>
                        <div>
                            <h4>@note.Title</h4>
                            <h6>@note.DateCreated</h6>
                        </div>
                    </a>
                    <div class=" m-3 ">
                        <a href=@Url.Action("DeleteNote", "Note", new { Id = @note.Id })>DEL</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="editor">
        <div id="toolbar">
            <div id="toolbar_items">
                <button asp-action="Index" asp-controller="Note"> X </button>
                <button type="button" onclick="dark_mode()"> THEME </button>
                <button type="button" onclick="render_push(), fix_text()">SHELF</button>
                <button asp-action="CreateNote" asp-controller="Note"> SAVE </button>
            </div>
        </div>
        <textarea asp-for=Content id="textarea" spellcheck="false" placeholder="Start your note here..."></textarea>
        <input id="note_id" class="visually-hidden" asp-for=Id />
    </div>
</form>
