@using EpistleLibrary.Services
@model EpistleLibrary.Models.NoteModel

<form class="wrapper" asp-action="Index">
    <div id="sidenav">
        <div id="head">
            <h6 id="title">Epistle</h6>
        </div>
        <div id="badge">
            <h6 id="username">@ViewBag.Username</h6>
            <button asp-action="Logout" id="logout">Logout</button>
        </div>
    </div>
    <div id="notelist">
        <div id="searchbar">
            <div id="notelist_icons">
                <button class="notelist_button">SORT</button>
                <h6>All Notes</h6>
                <button class="notelist_button">NEW</button>
            </div>
            <input type="text" id="search" placeholder="Type to search..." />
        </div>
        <div id="notes">
            <!-- Get all the user's notes-->
            @foreach (var note in NoteService.GetNotes(@ViewBag.Username))
            {
                <a class="text-decoration-none" href="@Url.Action("LoadNote","Home", new { note.Title, note.DateCreated })">
                    <div id="note_card">
                        <h4>@note.Title</h4>
                        <h6>@note.DateCreated</h6>
                    </div>
                </a>
            }
        </div>
    </div>
    <div id="editor">
        <div id="toolbar">
            <div id="toolbar_items">
                <button type="submit" class="toolbar_button">SAVE</button>
            </div>
        </div>
        <textarea asp-for="Content" spellcheck="false" placeholder="Start your note here...">@Model.Title</textarea>
    </div>
</form>
