@using EpistleLibrary.Services
@model EpistleLibrary.Models.NoteModel

<script>
    function load_text()
    {
        document.getElementById('textarea').value = '@Model.Content';
    }
</script>

<form class="wrapper" asp-action="Index">
    <div id="sidenav">
        <div id="head">
            <h6 id="title">Epistle</h6>
        </div>
        <div id="badge">
            <h6 id="username">@ViewBag.Username</h6>
            <button asp-action="Logout" id="logout">Logout</button>
        </div>
    </div>
    <div id="notelist">
        <div id="searchbar">
            <h6 class="text-center">All Notes</h6>
            <input type="text" id="search" placeholder="Type to search..." />
        </div>
        <div id="notes">
            <!-- Get all the user's notes-->
            @foreach (var note in NoteService.GetNotes(@ViewBag.Username))
            {
                <div id="note_card" onclick="load_text()" class="d-flex justify-content-between">
                    <a class="text-decoration-none" href=@Url.Action("LoadNote", "Home", new { Id = @note.Id })>
                        <div>
                            <h4>@note.Title</h4>
                            <h6>@note.DateCreated</h6>
                        </div>
                    </a>
                    <div class=" m-3 ">
                        <input type="button" value="DEL" href="@Url.Action("DelNote", "Home", new { Id = @note.Id })>" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="editor">
        <div id="toolbar">
            <div id="toolbar_items">
                <button type="submit" class="toolbar_button">SAVE</button>
            </div>
        </div>
        <textarea asp-for="Content" id="textarea" spellcheck="false" placeholder="Start your note here...">@Model.Title</textarea>
    </div>
</form>
